{% extends "base.html" %}
{%  include "header.html" %}
{% load static %}
{% block main_block %}
    <div class="container">
                <h3 class=" text-center"> Category Name</h3>
                 <div class="col-md-12 about-left">
					<div class="about-tre">
						<div class="a-1">

                            {% for post in posts %}
								{% if post in posts2 %}

							{% else %}

							<div class="col-md-3 abt-left">
								<a href="/blog/single/{{post.id}}"><img src="{% static ""%}images/{{post.photo}}" alt="" /></a>
								<h6></h6>
								<h3><a href="/blog/single/{{post.id}}">{{ post.title }}</a></h3>
								<p> {{ post.description }}</p>
								<label>{{ post.date }}</label>
							</div>

							{% endif %}
                                {% endfor %}

                        {% for post in posts2 %}

							<div class="col-md-3 abt-left">
								<a href="/blog/single/{{post.id}}"><img src="{% static ""%}images/{{post.photo}}" alt="" /></a>
								<h6></h6>
								<h3><a href="/blog/single/{{post.id}}">{{ post.title }}</a></h3>
								<p> {{ post.description }}</p>
								<label>{{ post.date }}</label>
							</div>


                                {% endfor %}

							</div>
							<div class="clearfix"></div>
						</div>
					</div>

             			<div class="about-tre">
						<div class="a-1">

							<div class="clearfix"></div>
						</div>
					</div>
				</div>




    </div>

{% endblock %}
{% include "footer.html" %}