{% load static %}

<head>

    <title>Coffee Break</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Coffee Break Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{% static "css/bootstrap.css" %}" rel='stylesheet' type='text/css'/>
    <link href=" {% static "css/style.css" %}" rel='stylesheet' type='text/css'/>
   <script src=""{% static "js/bootstrap.bundle.min.js" %}></script>
    <script src="{% static "js/jquery.min.js" %} "></script>
    <script  src="{% static "js/jquery.flexisel.js" %} "></script>
    <script type="text/javascript" src="{% static "js/move-top.js" %}"></script>
    <script type="text/javascript" src="{% static "js/easing.js" %}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
            });
        });
    </script>

    <div class="header-top">
        <div class="container">
            <div class="head-main row">
               <div class="col-lg-6 col-md-3 col-sm-12">
                      <a href="/blog/home"><img  src="{% static "images/blog.png" %}" alt=""/></a>
               </div>
                 {%  if user.is_authenticated %}
               <div class="col-lg-6 col-md-9 col-sm-12 auth-home">


                <div class="col-lg-3 col-md-5 col-sm-6  ">
                    <p> Welcome
                        {% if user.is_superuser == 1 %}
                        <a href="/blog/admin">Manage Blog</a>
                            {% endif %}
                        <i style="color:#3d1a1b" class="glyphicon glyphicon-user"></i>
{#                   <span style="color:#9f9b83;">#}
                       {{ user.username }}
{#                   </span>#}
                    </p>

                </div>
                <div class="submit-btn col-lg-3 col-md-4 col-sm-6" style="    float: right;
    margin-top: -21px; margin-right: 26px;">
                    <form method="POST" action="/blog/logout">
                        {% csrf_token %}
                        <input type="submit" value="LOGOUT">
                    </form>
                </div>

                    {% else %}
            <div class="authentication col-lg-6 col-md-9 col-sm-12 ">

                <div>
                    <form method="get" action="/blog/login" class="submit-btn">
                        <input type="submit" value="SIGN IN">
                    </form>
                </div>
                <div class="submit-btn" style=" margin: auto;">
                    <form method="get" action="/blog/register">
                        <input type="submit" value="SIGN UP">
                    </form>
                </div>
            </div>
          {% endif %}
               </div>
            </div>

        </div>
    </div>
    <!--header-top-end-->
    <!--start-header-->
    <div class="header">
        <div class="container">
            <div class="head">
                <div class="navigation">
                    <span class="menu"></span>
                    <ul class="navig">
                        <li><a href="/blog/home">Home</a></li>
                        <li><a href="/blog/about">About</a></li>
                        {#						<li><a href="gallery.html">Gallery</a></li>#}
                        <li><a href="typo.html">Service</a></li>
                        <li><a href="/blog/contact">Contact</a></li>
                    </ul>
                </div>
			<div class="header-right">
				<div class="search-bar">
					<form  method="post" action="/blog/test">{% csrf_token %}

						<input type="text" name="search_box" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
						<input type="submit" value="">

					</form>
				</div>
			</div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- script-for-menu -->
    <!-- script-for-menu -->
    <script>
        $("span.menu").click(function () {
            $(" ul.navig").slideToggle("slow", function () {
            });
        });
    </script>


</head>