{% extends "base.html" %}
{% include "header.html" %}
{% load static %}
{% block main_block %}

    <!----------------------- start main block---------------------------->
    <!--start-single-->
    <div class="single">
        <div class="container">
            <!----------------------- start post description---------------------------->

            <div class="single-top">
                <a href="#"><img class="img-responsive" src="{% static "images/single-1.jpg" %}" alt=" "></a>
                <div class=" single-grid">
                    <h4>{{ post.title }}</h4>
                    <ul class="blog-ic">
                        <li><a href="#"><span> <i style="color: #27568b"
                                                  class="glyphicon glyphicon-user"> </i>Author : {{ postAuthor.username }}</span>
                        </a></li>
                        <li><span><i class="glyphicon glyphicon-time"> </i>{{ post.date }}</span></li>
                        {% if userlike.state == 0 %}
                            <li><span> <i style="color: crimson" class="glyphicon glyphicon-heart-empty" id="like-icon"
                                          counterl="{{ post.likes }}"> </i>Like <span id="counter_like">
                            {{ post.likes }}
                        </span></span>
                            </li>
                            <li><span> <i style="color: crimson"
                                          id="dislike-icon" class="glyphicon glyphicon-remove-sign">
                        </i> disLike
                            <span id="counter_dislike">
                            {{ post.dislikes }}
                        </span></span>
                            </li>

                        {% elif userlike.state == 1 %}

                            <li><span> <i style="color: crimson" class="glyphicon glyphicon-heart" id="like-icon"
                                          counterl="{{ post.likes }}"> </i>Like <span id="counter_like">
                            {{ post.likes }}
                        </span></span>
                            </li>
                            <li><span> <i style="color: crimson"
                                          id="dislike-icon" class="glyphicon glyphicon-remove">
                        </i> disLike
                            <span id="counter_dislike">
                            {{ post.dislikes }}
                        </span></span>
                            </li>
                        {% else %}

                            <li><span> <i style="color: crimson" class="glyphicon glyphicon-heart-empty" id="like-icon"
                                          }
                            > </i>Like <span id="counter_like">
                            {{ post.likes }}
                        </span></span>
                            </li>
                            <li><span> <i style="color: crimson"
                                          id="dislike-icon" class="glyphicon glyphicon-remove">
                        </i> disLike
                            <span id="counter_dislike">
                            {{ post.dislikes }}
                        </span></span>
                            </li>
                        {% endif %}
                    </ul>
                    <p>{{ post.description }}</p>
                    <div class="comments heading" style="padding: inherit;">
                        <h3 class="text-uppercase"> TAGS </h3>
                        <div class="tag-style">
                            {% for tag in tags %}

                                <b>{{ tag.tag }}</b>

                            {% endfor %}
                        </div>


                    </div>
                </div>


                <!-------display comment start ------->
                <div class="comments heading">
                    <h3>Comments</h3>

                    {% for comment in allComments %}

                        <div class="media">
                        <div class="media-left">
                            <a href="#">
                                <img src="{% static "images/si.png" %}" alt="User Photo">
                            </a>
                        </div>

                        <div class="media-body">
                            <h4 class="media-heading"> {{ comment.user.username }}</h4>
                            <p>{{ comment.description }}</p>
                            <a href="" class="replay"><span> <i class="glyphicon glyphicon-share-alt"> </i>replay</span></a>

                            <!-------display replay start ------->
                            <div class="media">

                                <ul>
                                    {% for rep in replay_comments %}
                                        {% if comment.id == rep.comment_id %}
                                            <li>
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img src="{% static "images/si.png" %}" alt="User Photo">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <h4 class="media-heading"> {{ rep.user.username }}</h4>
                                                    <p>{{ rep.description }}</p>

                                                </div>

                                                {#                              <a href="" class="replay"><span> <i  class="glyphicon glyphicon-share-alt"> </i>replay</span></a>#}
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>


                            </div>
                            <!-------end display replay ------->
                            <!-------end display comment ------->

                            <!----------------------- insert replay ---------------------------->
                            <div class="comment-bottom heading">
                                <div class="col-lg-12">
                                    <div class="col-lg-8">
                                        <form method="POST" action="/blog/single/{{ post.id }}">
                                            {% csrf_token %}
                                            <textarea cols="3" rows="1" name="replay_text" value=" "
                                                      onfocus="this.value='';"
                                                      onblur="if (this.value == '') {this.value = 'Message';}">replay for here</textarea>
                                            <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                            <input name="replyBtn" type="submit" value="replay">
                                        </form>
                                    </div>
                                    <div class="col-lg-4">
                                    </div>
                                </div>

                            </div>
                            <!----------------------- insert replay end---------------------------->

                        </div>
                    {% endfor %}
                    </div>
                </div>


                <!----------------------- insert comment ---------------------------->
                <div class="comment-bottom heading">
                    <h3 id="test">Leave a Comment</h3>
                    <div class="col-lg-12">
                        <div class="col-lg-8">
{#                             {%  if user.is_authenticated %}#}
{#                                 <form method="post" action="/blog/single/{{ post.id }}">#}
{#                                  {% else %}#}
{#                                 <form method="post" action="/blog/login">#}
{#                                  {% endif %}#}
                            <form method="post" action="/blog/single/{{ post.id }}">
                                {% csrf_token %}
                                <textarea cols="20" rows="5" name="comment_text" value=" " onfocus="this.value='';"
                                          onblur="if (this.value == '') {this.value = 'Message';}">Write Your Comment</textarea>
                                <input name="commentBtn" type="submit" value="Comment">
                            </form>
                        </div>
                    </div>

                </div>
                <!----------------------- insert comment end ---------------------------->
            </div>
            <!----------------------- post description end ---------------------------->
        </div>
    </div>
{% endblock %}
<!-----------------------end main block ---------------------------->
{% block javascript %}
    <script>

        $(".replay").click(function () {
            $(this).toggle();
        });

        //AJAX for like
        $("#like-icon").click(function () {
            likecount = $(this).attr("counterl");
            $.ajax({
                url: 'http://127.0.0.1:8000/blog/single/ajax?postid={{ post.id }}',
                data: {
                    'likecount': likecount
                },
                dataType: 'json',
                success: function (data) {

                    console.log("ajax is success");
                    data = JSON.parse(data)
                    likedata = data.likedata;

                    if ($("#like-icon").attr("class") == "glyphicon glyphicon-heart-empty") {
                        $("#like-icon").attr("class", "glyphicon glyphicon-heart");
                        $("#counter_like").html((parseInt(likedata)))

                    } else {
                        $("#like-icon").attr("class", "glyphicon glyphicon-heart-empty");
                        $("#counter_like").html((parseInt(likedata)))
                    }
                },
                failure: function (data) {
                    alert('Got an error like');
                }

            });
        });

        $("#dislike-icon").click(function () {
            $.ajax({
                url: 'http://127.0.0.1:8000/blog/single/ajaxdis?postid={{ post.id }}',
                data: {
                    'likecount': 1
                },
                dataType: 'json',
                success: function (data) {
                    data = JSON.parse(data)
                    dislikedata = data.dislikedata;
                    likedata = data.likedata;

                    if ($("#dislike-icon").attr('class') == 'glyphicon glyphicon-remove-sign') {
                        $("#dislike-icon").attr("class", "glyphicon glyphicon-remove");
                        console.log("discolord");
                        $("#counter_dislike").html((parseInt(dislikedata)))

                    } else {

                        $("#dislike-icon").attr("class", "glyphicon glyphicon-remove-sign");
                        $("#counter_dislike").html((parseInt(dislikedata)))
                        oldlike = $("#counter_like").html();
                        if (oldlike != likedata) {
                            $("#counter_like").html((parseInt(likedata)))
                            $("#like-icon").attr("class", "glyphicon glyphicon-heart-empty");
                        }
                    }
                },
                failure: function (data) {
                    alert('Got an error dislike');
                }

            });
        });

    </script>
{% endblock %}
{% include "footer.html" %}
<!--end-single-->
