{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<!--{%  for s in posts  %}-->


																	<!---->
						<!--<label>mina</label>-->

								<!--<h3><a href="single.html">{{s.title}}</a></h3>-->

							<!--&lt;!&ndash;</div>&ndash;&gt;-->

							<!--{%  endfor  %}-->
<!--{%  for s in posts2  %}-->



						<!--<label>mina</label>-->

								<!--<h3><a href="single.html">{{s.title}}</a></h3>-->

							<!--&lt;!&ndash;</div>&ndash;&gt;-->

							<!--{%  endfor  %}-->



{ %  request.POST['name']  %}


</body>
</html>